%h1
  Channels controller, edit action
%p
  Edit this file in
  %tt
    app/views/channels/edit.html.erb
= error_messages_for :channel

= form_for(@channel, :action => url(:channel, @channel)) do
  %p
    = submit "Update"

= link_to 'Show', url(:channel, @channel)
|
= link_to 'Back', url(:channels)