= error_messages_for :channel

= form_for(@channel, :action => url(:create_channel), :class => 'join') do
  %p
    = text_field :name => 'server', :label => 'Server host'
  %p
    = text_field :name => 'name', :label => 'Channel name'
  %p
    = submit "Join"