%h2.name= "#{@channel.name} on #{@channel.server_host}"
%ul.about
  %li= "since <em>%s</em>" % relative_date(@channel.created_at)
  %li= "logged more than <em>%i</em> messages" % @channel.messages_count

%h3 Latest messages
#results.irc
  = talk_with(@channel.messages.first(:event => :message, :order => [:created_at.desc]), 10, true)
