%h1
  Messages controller, edit action
%p
  Edit this file in
  %tt
    app/views/messages/edit.html.erb
= error_messages_for :message

= form_for(@message, :action => url(:message, @message)) do
  %p
    = submit "Update"

= link_to 'Show', url(:message, @message)
|
= link_to 'Back', url(:messages)