%h1
  Servers controller, edit action
%p
  Edit this file in
  %tt
    app/views/servers/edit.html.erb
= error_messages_for :server

= form_for(@server, :action => url(:server, @server)) do
  %p
    = submit "Update"

= link_to 'Show', url(:server, @server)
|
= link_to 'Back', url(:servers)