!!! XML
!!! 1.1
%html{ html_attrs }
  %head
    - if not @title.empty?
      %title= h("#{@title} - IRC logger")
    -else
      %title IRC logger
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8'}
    - require_css 'main', 'styles/terminal'
    - require_js 'prototype', 'application'
    
    = include_required_css
    = include_required_js
  %body
    #main
      #header
        %a{:href=>url(:frontend)}
          %h1 IRC logger

      %form#search{:action => '/messages'}
        %input.query{:type=>'text', :name=>'query', :value => params['query']}
        %input{:type=>'hidden', :name=>'page', :value=>'1'}
        %input.submit{:type=>'submit', :value=>'Search'}
    
      #content
        - if message[:notice]
          %p.notice= message[:notice]
        
        = catch_content :for_layout

      #footer
        %ul.menu.horizontal
          %li{:class => ('current' if (params[:controller] == 'channels') and params[:action] == 'new')}= link_to 'Add channel', url(:join_channel)
          %li{:class => ('current' if (params[:controller] == 'servers') and params[:action] == 'index')}= link_to 'Servers', url(:servers)
          %li{:class => ('current' if (params[:controller] == 'guys') and params[:action] == 'index')}= link_to 'People', url(:guys, 1)
          %li{:class => ('current' if (params[:controller] == 'frontend') and params[:action] == 'about')}= link_to 'About', url(:about)
          %li= link_to 'Donate', 'http://pledgie.org/campaigns/2048'
          %li= link_to 'Source code', 'http://github.com/alfanick/irc-logger/'
