!!! XML
!!! 1.1
%html{ html_attrs }
  %head
    %title IRC logger
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8'}
    - require_css 'main', 'styles/green'
    
    = include_required_css
    = include_required_js
  %body
    #main
      #header
        %h1 IRC logger
    
      #content
        %form#search{:action => '/messages'}
          %input.query{:type=>'text', :name=>'query', :value => params['query']}
          %input{:type=>'hidden', :name=>'page', :value=>'1'}
          %input.submit{:type=>'submit', :value=>'Search'}
      
        - if message[:notice]
          %p.notice= message[:notice]
        
        = catch_content :for_layout

      #footer
        %ul.menu.horizontal
          %li= link_to 'Add channel'
          %li.current= link_to 'About'
          %li= link_to 'Donate'
          %li= link_to 'Source code'
