!!! XML
!!! 1.1
%html{ html_attrs }
  %head
    %title IRC logger
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8'}
    - require_css 'main'
    
    = include_required_css
    = include_required_js
  %body
    #main
      #header
        %h1 IRC logger
  
        - if message[:notice]
          .notice= message[:notice]
    
      #content
        = catch_content :for_layout

      #footer
        %ul.menu.horizontal
          %li= link_to 'About'
          %li= link_to 'Add channel'
          %li= link_to 'Donate'
          %li= link_to 'Source code'
