%h1
  Guys controller, edit action
%p
  Edit this file in
  %tt
    app/views/guys/edit.html.erb
= error_messages_for :guy

= form_for(@guy, :action => url(:guy, @guy)) do
  %p
    = submit "Update"

= link_to 'Show', url(:guy, @guy)
|
= link_to 'Back', url(:guys)